* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-image: url("../src/background2.jpg");
  margin: 0;
  padding: 0;
  background-size: cover; /* This will make sure the image covers the entire background */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border: 2px solid #ccc;
  border-radius: 8px; */
  margin-bottom: 20px;
  width: 500px;
}

.form input {
  border: 2px #ccc;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background-color: white;
  color: #fff;
  opacity: 0.9;
}

.input {
  width: 75%;
  margin-bottom: 15px;
}

.submit-button {
  border: 2px #ccc;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  margin-top: 10px;
  color: white;
  background-color: #f7374b;
  opacity: 0.9;
}

input::placeholder {
  color: black;
  padding-left: 10px; /* You can replace #999 with the desired color code */
}

/* blue: #14344B */

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border: 2px solid #ccc;
  border-radius: 8px; */
  width: 500px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  background-color: white;
  color: #fff;
  opacity: 0.9;
}

.error-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
}
